* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/assets/img/background\ \(1\).png);
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .kargoNav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  border-bottom: 1px solid rgb(211, 211, 211);
}
nav .kargoNav .nav-underline {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
nav .kargoNav .nav-underline li {
  list-style: none;
}
nav .kargoNav .nav-underline li a {
  font-weight: 500;
  font-size: 15px;
  font-style: normal;
  color: rgb(0, 0, 0);
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  text-decoration: none;
}
nav .kargoNav .nav-underline li a:hover {
  cursor: pointer;
  color: #7b5ce1;
}
nav .kargoNav .loginDiv {
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .kargoNav .loginDiv .login-button {
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}
nav .kargoNav .loginDiv .myAccount {
  display: none;
  width: 7%;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 45px;
  z-index: 1;
}
nav .kargoNav .loginDiv .myAccount .userLogout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
nav .kargoNav .loginDiv .myAccount .userLogout a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  text-decoration: none;
}
nav .kargoNav .loginDiv .myAccount .userLogout button {
  border: none;
  background-color: transparent;
  color: #606070;
  font-size: 14px;
  width: 100%;
  transition: 0.3s ease;
}
nav .kargoNav .loginDiv .myAccount .userLogout button:hover {
  background-color: #e4e4e6;
}
nav .kargoNav .loginDiv .myAccount .userLogout button i {
  font-size: 14px;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav {
  width: 84%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  border-bottom: 1px solid rgb(211, 211, 211);
}
header nav .navDiv {
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
header nav .navDiv .collapseDiv {
  width: 100%;
  align-items: center;
  justify-content: center;
}
header nav .navDiv .collapseDiv ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
header nav .navDiv .collapseDiv ul li {
  list-style: none;
}
header nav .navDiv .collapseDiv ul li a {
  font-weight: 500;
  font-size: 15px;
  font-style: normal;
  color: rgb(0, 0, 0);
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  text-decoration: none;
}
header nav .navDiv .collapseDiv ul li a:hover {
  color: #7b5ce1;
}
header nav .navDiv .headButton {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgb(211, 211, 211);
}
header nav .navDiv .headButton a {
  font-weight: 500;
  font-size: 15px;
  font-style: normal;
  color: rgb(0, 0, 0);
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0px;
}
header nav .navDiv .headButton a:hover {
  color: #7b5ce1;
  cursor: pointer;
}
header nav .navDiv .headButton button {
  background-color: rgb(123, 92, 225);
  height: 52px;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  margin-left: 25px;
  font-size: 16px;
  border-radius: 10px;
  overflow: hidden;
  border: none;
}

@media screen and (max-width: 600px) {
  header nav .navDiv .headButton {
    width: 100%;
  }
}
#dashboard {
  min-height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#dashboard .dashboard-list {
  background-color: #fff;
  min-height: 700px;
  padding: 1rem;
  float: left;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 12px 24px 0 rgba(44, 44, 81, 0.06);
}
#dashboard .dashboard-list .userAbout {
  min-height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  font-weight: 500;
  font-size: 16px;
  color: #2c2c51;
  background: #fef5e9;
}
#dashboard .dashboard-list .declaration {
  background-color: #7b5ce1;
  width: 100%;
  min-height: 50px;
  font-family: "SegoeSemiBold", sans-serif;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-style: normal;
  color: #2c2c51;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  text-decoration: none;
}
#dashboard .dashboard-list .declaration:hover {
  background-color: #fef5e9;
}
#dashboard .dashboard-list .declaration i {
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fd475d;
  color: #fff;
}
#dashboard .dashboard-list .invite {
  min-height: 60px;
  border-bottom: 1px solid #fd475d;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: "SegoeSemiBold", sans-serif;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 15px;
  font-size: 16px;
  font-weight: 600;
  color: #2c2c51;
  text-decoration: none;
}
#dashboard .dashboard-list .invite i {
  font-size: 16px;
  color: #2c2c51;
}
#dashboard .dashboard-list .store {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 1rem;
}
#dashboard .dashboard-list .store ul {
  list-style: none;
  gap: 15px;
  display: flex;
  width: 100%;
  justify-content: start;
  flex-direction: column;
  padding-left: 0px;
}
#dashboard .dashboard-list .store ul h2 {
  font-size: 15px;
  width: 100%;
  font-weight: 700;
  color: #7b7b93;
}
#dashboard .dashboard-list .store ul li {
  display: flex;
  margin-right: 2rem;
}
#dashboard .dashboard-list .store ul li a {
  font-size: 15px;
  font-weight: 500;
  color: #7b7b93;
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  text-decoration: none;
}
#dashboard .dashboard-list .store ul li a:hover {
  color: #7b5ce1;
}
#dashboard .dashboard-list .store ul li a i {
  font-size: 14px;
}
#dashboard .dashboard-list .store ul li a button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: transparent;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #7b7b93;
  font-weight: 500;
  transition: 0.3s ease;
}
#dashboard .dashboard-list .store ul li a button:hover {
  color: #fd475d;
}
#dashboard .packings {
  min-height: 700px;
  margin: 1.2rem;
  display: flex;
  justify-content: center;
}
#dashboard .packings .packings-about {
  display: flex;
  background-color: #f7f7f7;
  min-height: 120px;
  padding: 0rem 2rem;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
#dashboard .packings .packings-about .declare-value {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: 0.4s ease;
}
#dashboard .packings .packings-about .declare-value:hover {
  transition: 0.4s ease;
  cursor: pointer;
}
#dashboard .packings .packings-about .declare-value:hover i {
  border: 1px solid #fff;
}
#dashboard .packings .packings-about .declare-value:hover .declare-about span {
  color: #7b5ce1;
}
#dashboard .packings .packings-about .declare-value:hover .declare-about p {
  color: #7b5ce1;
}
#dashboard .packings .packings-about .declare-value:hover .money span {
  color: #7b5ce1;
}
#dashboard .packings .packings-about .declare-value:hover .money p {
  color: #7b5ce1;
}
#dashboard .packings .packings-about .declare-value:hover .box span {
  color: #7b5ce1;
}
#dashboard .packings .packings-about .declare-value:hover .box p {
  color: #7b5ce1;
}
#dashboard .packings .packings-about .declare-value i {
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  background-color: #655c74;
  display: flex;
  align-items: center;
  justify-content: center;
}
#dashboard .packings .packings-about .declare-value .declare-about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
}
#dashboard .packings .packings-about .declare-value .declare-about span {
  font-size: 13px;
  color: #7b7b93;
  font-family: "Segoe UI";
  font-weight: 400;
}
#dashboard .packings .packings-about .declare-value .declare-about p {
  color: #2c2c51;
  font-size: 21px;
  font-weight: 500;
}
#dashboard .packings .packings-about .declare-value .moneyIcon {
  background-color: #655c74;
}
#dashboard .packings .packings-about .declare-value .boxIcon {
  background-color: #655c74;
}
#dashboard .packings .myOrders {
  background-color: transparent;
  width: 100%;
  min-height: 500px;
  border-radius: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}
#dashboard .packings .myOrders a {
  width: 100%;
  text-decoration: none;
}
#dashboard .packings .myOrders a h2 {
  font-size: 21px;
  color: #2c2c51;
  font-family: SegoeSemiBold, sans-serif;
  font-weight: 600;
  min-height: 70px;
  display: flex;
  align-items: center;
}
#dashboard .packings .myOrders .declare-customer {
  gap: 10px;
  min-height: 330px;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}
#dashboard .packings .myOrders .declare-customer .declare {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  padding: 1rem 1rem;
}
#dashboard .packings .myOrders .declare-customer .declare h6 {
  font-size: 18px;
  font-weight: 700;
  color: #2c2c51;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#dashboard .packings .myOrders .declare-customer .declare h6 .declareButton {
  border: none;
  background-color: #fd475d;
  color: #fff;
  height: 30px;
  width: 80px;
  font-weight: 500;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.3s ease;
}
#dashboard .packings .myOrders .declare-customer .declare h6 .declareButton:hover {
  background-color: #e34659;
}
#dashboard .packings .myOrders .declare-customer .declare .status {
  color: red;
  font-size: 13px;
  font-weight: 500;
}
#dashboard .packings .myOrders .declare-customer .declare p {
  font-size: 11px;
  font-weight: 700;
  color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#dashboard .packings .myOrders .declare-customer .declare p span {
  font-family: 300;
}
#dashboard .packings .myOrders .declare-customer .declare p .imageButton {
  border: none;
  background-color: #fff;
  width: 30%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2c2c51;
  font-weight: 700;
}
#dashboard .packings .myOrders .declare-customer .declare .whereButton {
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 11px;
  font-weight: 700;
  background-color: #fff;
  color: black;
  height: 30px;
  box-shadow: 0 12px 24px 0 rgba(44, 44, 81, 0.06);
  width: 100%;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #7b5ce1;
  min-height: 600px;
  border-bottom: 1px solid rgb(211, 211, 211);
}
footer .footerList {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px;
}
footer .footerList h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
footer .footerList a {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
footer .footerList .footerListBorder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(211, 211, 211);
  padding: 20px;
  border-radius: 20px;
}
footer .footerList .footerListBorder h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
footer .footerList .footerListBorder p {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
footer .footerList .footerText {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
footer .footerList .footerText h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
footer .footerList input {
  border: 0.5px solid #ffffff;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  padding: 0px 20px;
  background-color: transparent;
}
footer .footerList .footerForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
footer .footerList .footerForm input {
  border: 0.5px solid #ffffff;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  padding: 0px 20px;
  background-color: transparent;
}
footer .footerList button {
  background-color: #ff6d67;
  min-width: 187px;
  border-radius: 10px;
  overflow: hidden;
  padding: 0px 20px;
  color: #fff;
  height: 50px;
  border: none;
}
footer .end {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  min-height: 70px;
  border-top: 1px solid rgb(211, 211, 211);
}
footer .end span {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

@media screen and (max-width: 300px) {
  #new .newSec {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  #dashboard .packings .packings-about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #dashboard .packings .packings-about .declare-value {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 200px;
  }
  #dashboard .packings .myOrders {
    width: 100%;
  }
  #dashboard .packings .myOrders a {
    width: 100%;
  }
  #dashboard .packings .myOrders .declare-customer {
    width: 100%;
  }
  #dashboard .packings .myOrders .declare-customer .declare h6 .declareButton {
    font-size: 8px;
  }
}
@media screen and (max-width: 1199px) {
  #dashboard .packings .myOrders {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #dashboard .packings .myOrders a h2 {
    width: 70%;
    display: none;
  }
  #dashboard .packings .myOrders a {
    width: 100%;
  }
  #dashboard .packings .myOrders .declare-customer {
    width: 100%;
  }
}