* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/assets/img/background\ \(1\).png);
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .kargoNav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  border-bottom: 1px solid rgb(211, 211, 211);
}
nav .kargoNav .nav-underline {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
nav .kargoNav .nav-underline li {
  list-style: none;
}
nav .kargoNav .nav-underline li a {
  font-weight: 500;
  font-size: 15px;
  font-style: normal;
  color: rgb(0, 0, 0);
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  text-decoration: none;
}
nav .kargoNav .nav-underline li a:hover {
  cursor: pointer;
  border-bottom-color: #7b5ce1;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav {
  width: 84%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  border-bottom: 1px solid rgb(211, 211, 211);
}
header nav .navDiv {
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
header nav .navDiv .collapseDiv {
  width: 100%;
  align-items: center;
  justify-content: center;
}
header nav .navDiv .collapseDiv ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-right: 1px solid grey;
}
header nav .navDiv .collapseDiv ul li {
  list-style: none;
}
header nav .navDiv .collapseDiv ul li a {
  font-weight: 500;
  font-size: 15px;
  font-style: normal;
  color: rgb(0, 0, 0);
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  text-decoration: none;
}
header nav .navDiv .collapseDiv ul li a:hover {
  border-bottom: 2px solid #7b5ce1;
}
header nav .navDiv .headButton {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .navDiv .headButton a {
  font-weight: 500;
  font-size: 15px;
  font-style: normal;
  color: rgb(0, 0, 0);
  line-height: normal;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0px;
}
header nav .navDiv .headButton a:hover {
  color: #7b5ce1;
  cursor: pointer;
}
header nav .navDiv .headButton button {
  background-color: rgb(123, 92, 225);
  height: 52px;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  margin-left: 25px;
  font-size: 16px;
  border-radius: 10px;
  overflow: hidden;
  border: none;
}

@media screen and (max-width: 600px) {
  header nav .navDiv .headButton {
    width: 100%;
  }
}
#login {
  padding-bottom: 5rem;
  width: 100%;
}
#login .left {
  width: 50%;
  padding-top: 2rem;
}
#login .left .title {
  text-align: center;
  font-size: 22px;
}
#login .left .form .form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
#login .left .form .form-group .email, #login .left .form .form-group .password {
  width: 50%;
}
#login .left .form .form-group .email label, #login .left .form .form-group .password label {
  font-size: 15px;
  margin-left: 0.5rem;
  margin-bottom: 5px;
}
#login .left .form .form-group .email input, #login .left .form .form-group .password input {
  width: 100%;
  height: 45px;
  border: 1px solid #cecee2;
  border-radius: 10px;
  padding: 0 10px;
  margin-bottom: 1rem;
  position: relative;
  outline: none;
}
#login .left .form .form-group .email .hidden, #login .left .form .form-group .password .hidden {
  color: #fd475d;
  font-size: 12px;
  float: right;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
#login .left .form .form-group .remember {
  width: 48%;
}
#login .left .form .form-group button {
  margin-top: 1rem;
  width: 50%;
  height: 45px;
  border: 1px solid #cecee2;
  border-radius: 10px;
  background-color: #7b5ce1;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
#login .left .form .form-group .reset {
  margin-top: 1rem;
  color: #15b2ec;
}
#login .left .form .form-group .reset a {
  text-decoration: none;
}
#login .right {
  padding-top: 2rem;
}
#login .right .login-image-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
#login .right .login-image-wrap .login-image {
  width: 90%;
}
#login .right .text {
  margin-top: 2rem;
  text-align: center;
  user-select: none;
}
#login .right .text span {
  font-size: 13px;
}
#login .right .text a {
  margin-left: 0.5rem;
  color: #15b2ec;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
}
#login .right .text a:hover {
  text-decoration: underline;
}

#iconsMedia {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}
#iconsMedia .iconsMediaText {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 20px;
}
#iconsMedia .iconsMediaText span {
  font-weight: 600;
  font-size: 15px;
  font-style: normal;
  color: rgb(40, 33, 65);
  line-height: 20px;
  text-decoration: none;
  transform: none;
  padding-top: 8px;
  font-family: Nunito-Regular;
  letter-spacing: 0;
}
#iconsMedia .iconsMediaText span:hover {
  color: #7b5ce1;
  cursor: pointer;
}
#iconsMedia .iconsMediaText a {
  text-decoration: none;
  width: 36px;
  height: 36px;
  border: 1px solid rgba(123, 92, 225, 0.1450980392);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  overflow: hidden;
}
#iconsMedia .iconsMediaText a:hover {
  cursor: pointer;
  background-color: #7b5ce1;
}
#iconsMedia .iconsMediaText a i {
  color: #000;
}
#iconsMedia .iconsMediaText a i:hover {
  color: white;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #7b5ce1;
  min-height: 600px;
  border-bottom: 1px solid rgb(211, 211, 211);
}
footer .footerList {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;
}
footer .footerList h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
footer .footerList p {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
footer .footerList .footerListBorder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(211, 211, 211);
  padding: 20px;
  border-radius: 20px;
}
footer .footerList .footerListBorder h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
footer .footerList .footerListBorder p {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
footer .footerList .footerText {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
footer .footerList .footerText h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
footer .footerList input {
  border: 0.5px solid #ffffff;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  padding: 0px 20px;
  background-color: transparent;
}
footer .footerList .footerForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
footer .footerList .footerForm input {
  border: 0.5px solid #ffffff;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  padding: 0px 20px;
  background-color: transparent;
}
footer .footerList button {
  background-color: #ff6d67;
  min-width: 187px;
  border-radius: 10px;
  overflow: hidden;
  padding: 0px 20px;
  color: #fff;
  height: 50px;
  border: none;
}
footer .end {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  min-height: 70px;
  border-top: 1px solid rgb(211, 211, 211);
}
footer .end span {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}