$siteColor: #7b5ce1;
$siteColor2: #ff6d67;
$textColor: #282141;
$borderColor: #28214121;
$light: Nunito-Light;
$bold: Nunito-Bold;
$semiBold: Nunito-SemiBold;
$extraBold: Nunito-ExtraBold;
$regular: Nunito-Regular;
$siteRadius10: 10px;
$siteRadius5: 5px;

@font-face {
  font-family: Nunito-Light;
  src: url(../fonts/Nunito-Light.ttf);
}

@font-face {
  font-family: Nunito-Bold;
  src: url(../fonts/Nunito-Bold.ttf);
}
@font-face {
  font-family: Nunito-ExtraBold;
  src: url(../fonts/Nunito-ExtraBold.ttf);
}
@font-face {
  font-family: Nunito-SemiBold;
  src: url(../fonts/Nunito-SemiBold.ttf);
}

@font-face {
  font-family: Nunito-Regular;
  src: url(../fonts/Nunito-Regular.ttf);
}

@mixin flex-between($prop) {
  display: $prop;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center($prop) {
  display: $prop;
  align-items: center;
  justify-content: center;
}

@mixin hideScrollBar {
  &::-webkit-scrollbar {
    display: none;
    width: 0px;
  }
}

@media screen and (max-width: 1360px) {
  body {
    .container {
      max-width: 1100px;
    }
    main {
      .news_in_section {
        .container {
          .news {
            .left_column {
              width: 72%;
              .img {
                height: 397px;
              }
            }
            .right_column {
              width: 26%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1240px) {
  body {
    .container {
      max-width: 991px;
    }
    .main_header {
      .center_section {
        .navbar {
          width: 56%;
          li {
            a {
              font-size: 14px;
            }
          }
        }
        .auth {
          .login_btn {
            padding-left: 15px;
          }
        }
      }
    }
    main {
      .main_slider_section {
        .container {
          .owl-carousel {
            .owl-nav {
              display: none;
            }
          }
        }
      }
      .youtube_videos_section {
        .container {
          .scrollable_block {
            .center {
              .item:first-child {
                width: 65%;
              }
            }
          }
        }
      }
      .customer_ratings_section {
        .container {
          .center {
            .owl-nav {
              display: none;
            }
            .owl-carousel {
              .item {
                width: calc(100vw / 2 - 32px);
              }
            }
          }
        }
      }
      .stores_section {
        .container {
          .stores_main {
            .stores_items {
              .item {
                width: 175px;
                &:not(:nth-child(5n + 5)) {
                  margin-right: 0px;
                }
                &:not(:nth-child(4n + 4)) {
                  margin-right: 20px;
                }
                &:not(:nth-last-child(-n + 5)) {
                  margin-bottom: 0px;
                }
                &:not(:nth-last-child(-n + 4)) {
                  margin-bottom: 15px;
                }
              }
            }
          }
        }
      }
      .auth_block {
        .container {
          .big_form {
            .input_with_info {
              .info {
                .popover_content {
                  transform: none;
                  left: auto;
                  right: 0px;
                  &::before {
                    right: 22px;
                    left: auto;
                    transform: rotate(45deg);
                  }
                  .register_info_imgs {
                    img {
                      width: 230px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .partners_carousel_section {
        .container {
          .owl-nav {
            display: none;
          }
        }
      }
      .order_page_section {
        .container {
          .order_form {
            .flexable_block {
              .sidebar {
                .product_price {
                  span {
                    font-size: 15px;
                  }
                }
              }
            }
          }
        }
      }
      .news_in_section {
        .container {
          .news {
            .left_column {
              width: 69%;
            }
            .right_column {
              width: 29%;
            }
          }
        }
      }
      //cabinet style
      .main_cabinet_section {
        .sidebar {
          padding: 15px;
        }
        .content_main {
          .settings_main {
            padding: 15px;
            .inputs_settings {
              .input,
              .input_with_select {
                width: 29%;
              }
            }
          }
        }
      }
    }
    .main_footer {
      .center_section {
        .container {
          .links {
            padding-left: 40px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  body {
    .mt-block {
      margin-top: 30px;
    }
    .container {
      padding: 0px 16px;
    }
    .notify_btn {
      .notify_modal {
        &::before {
          top: 24px;
        }
        .notify_modal_in {
          top: 33px;
        }
      }
      .notify_modal_main {
        &::before {
          right: -10px;
        }
        .notify_modal_in {
          min-width: 90vw;
          right: -118px !important;
        }
      }
      .basket_modal_main {
        &::before {
          right: -12px;
        }
        .notify_modal_in {
          min-width: 90vw;
          right: -70px !important;
        }
      }
    }
    .my_modal {
      .modal_center {
        .modal_inner {
          width: 90%;
          padding: 20px;
          padding-top: 30px;
        }
        .how_to_order {
          .title {
            font-size: 18px;
          }
          .description {
            font-size: 12px;
            line-height: 19px;
          }
          .video {
            height: 240px;
          }
        }
        .congratulations {
          min-height: auto;
          .title {
            max-width: 100%;
            font-size: 22px;
          }
          .description {
            font-size: 12px;
            font-family: $regular;
            max-width: 100%;
          }
          .go_auth {
            width: 100%;
            margin-top: 25px;
          }
        }
        .react_actions {
          .center {
            .left {
              width: 100%;
              .title {
                font-size: 22px;
                margin-bottom: 10px;
                .mobile_icn {
                  display: block;
                }
              }
            }
            .icn {
              display: none;
            }
          }
        }
        .facture_modal {
          .title {
            font-size: 22px;
          }
          .info {
            padding-left: 0px;
            font-size: 12px;
          }
          form {
            input {
              width: 72%;
            }
          }
        }
        .facture_edit_modal {
          .inputs {
            .input {
              width: 100%;
              margin-right: 0px !important;
            }
          }
          .foot_buttons {
            flex-direction: column-reverse;
            .black_btn {
              width: 100%;
              min-width: auto;
              margin-left: 0px;
              &:not(:last-child) {
                margin-top: 15px;
              }
            }
          }
        }
      }
    }
    .pagination {
      width: 280px;
      margin-top: 50px;
      .left_icn {
        position: relative;
        top: 1px;
        img {
          width: 85%;
          height: 85%;
        }
      }
      .right_icn {
        img {
          width: 85%;
          height: 85%;
        }
      }
      li {
        font-size: 15px;
      }
      .active_li {
        &::before {
          width: 30px;
          height: 30px;
        }
      }
    }
    .index_header {
      .bottom_section {
        display: none;
      }
    }
    .main_header {
      .top_section {
        display: none;
      }
      .center_section {
        border-top: none;
        height: 90px;
        .mobile_right {
          display: flex;
        }
        .navbar {
          display: none;
        }
        .auth {
          display: none;
        }
        .user_info {
          display: none;
        }
      }
      .mobile_auth {
        display: flex;
      }
      .mobile_user_info {
        display: flex;
      }
      .bottom_section {
        flex-direction: column-reverse;
        height: auto;
        align-items: flex-start;
        .buttons {
          width: 100%;
          .btn {
            width: 47%;
            min-width: auto;
            margin: 25px 0px 25px 0px;
            height: 52px;
            font-size: 16px;
            padding: 0px 10px;
          }
        }
      }
      .cabinet_bottom_section {
        flex-direction: column;
        align-items: flex-start;
        .buttons {
          display: flex;
          margin-bottom: 24px;
        }
        .right_column {
          width: 100%;
          .order_btn {
            display: none !important;
          }
          .user_profile_info {
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            .info {
              &:not(:last-child) {
                margin-right: 0px;
              }
              &:not(:nth-last-child(-n + 2)) {
                margin-bottom: 26px;
              }
              .in {
                width: 70%;
                margin-left: 12px;
                .label {
                  font-size: 13px;
                }
                .numb {
                  font-size: 20px;
                  svg {
                    width: 13px;
                    height: 15px;
                  }
                }
              }
            }
          }
        }
        .cabinet_bread_crumb {
          display: flex;
          align-items: center;
          width: 100%;
          max-width: 100%;
          flex-wrap: wrap;
          margin-bottom: 24px;
          span {
            margin-right: 15px;
          }
          .cabinet {
            color: $siteColor;
            font-family: $extraBold;
            font-style: 22px;
          }
        }
      }
    }
    .section_head {
      margin-bottom: 45px;
      .title {
        font-size: 22px;
      }
      .description {
        font-size: 12px;
      }
    }
    .contact_form {
      .btn_send {
        height: 40px;
        width: 100%;
      }
      .two_column_input {
        flex-direction: column;
        input {
          width: 100%;
          &:not(:last-child) {
            margin-bottom: 30px;
          }
        }
      }
    }
    main {
      //components
      .scrollable_block {
        overflow-x: scroll;
        margin-right: -16px;
        padding-right: 15px;
        overflow-y: hidden;
        @include hideScrollBar();
      }
      //
      .main_slider_section {
        .container {
          .owl-carousel {
            .item {
              flex-direction: column;
              .slider_desc_side {
                width: 100%;
                min-height: 125px;
                .slider_overtitle {
                  h2 {
                    font-size: 22px;
                    line-height: 22px;
                    margin-bottom: 10px;
                  }
                  p {
                    line-height: 16px;
                    font-size: 12px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    line-clamp: 3;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                  }
                  a {
                    display: none;
                  }
                  .main_slider_text_box {
                    height: auto;
                  }
                }
              }
              .slider_img_cont {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                .slider_img {
                  position: static;
                  transform: none;
                }
              }
              .mobile_btn {
                display: flex;
              }
            }
            .owl-nav {
              top: auto;
              bottom: 60px;
              transform: none;
              display: flex;
              button {
                &.owl-next {
                  right: 0px;
                }
                &.owl-prev {
                  left: 0px;
                }
              }
            }
            .owl-dots {
              display: none;
            }
          }
          .follow_us_on_social {
            display: none;
          }
          .bottom_carousel_buttons {
            display: block;
          }
        }
      }
      .info_and_services_section {
        .container {
          flex-direction: column;
          padding-bottom: 30px;
          .description_section {
            .title {
              font-size: 22px;
            }
            p {
              font-size: 12px;
              line-height: 18px;
            }
          }
          .item {
            width: 100%;
            min-height: auto;
            .kuryer_delivery {
              width: 94px;
              height: 135px;
            }
            .attention {
              width: 75px;
              height: 131px;
            }
            .kuryer_order {
              width: 97px;
              height: 117px;
            }
            &:not(:nth-last-child(-n + 2)) {
              margin-bottom: 0px;
            }
            &:not(:last-child) {
              margin-bottom: 20px;
            }
          }
          .service_item {
            padding: 20px;
            display: block;
            .left {
              display: block;
              width: 100%;
              .title {
                font-size: 16px;
              }
              p {
                font-size: 12px;
                line-height: 16px;
              }
              img {
                margin-bottom: 20px;
                display: block;
                margin-left: 10px;
                float: right;
              }
              .btn_more {
                margin-top: 0px;
                width: 100%;
                font-size: 15px;
                font-family: $extraBold;
              }
            }
            img {
              display: none;
            }
          }
        }
      }
      .order_prices_section {
        .container {
          padding-bottom: 30px;
          .heads {
            flex-direction: column;
            .left_head {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 100%;
              margin-bottom: 30px;
              .country {
                width: 138px;
                height: 40px;
                .flag {
                  width: 40px;
                  height: 40px;
                }
                span {
                  font-size: 20px;
                  margin-left: 10px;
                }
              }

              .title {
                margin: 0px;
                font-size: 18px;
                font-family: $semiBold;
                line-height: 21px;
                text-align: right;
                width: 50%;
              }
            }
            .right_head {
              width: 100%;
              .title {
                font-size: 18px;
                margin-bottom: 10px;
              }
              .info_text {
                margin-bottom: 20px;
              }
            }
          }
          .price_blocks {
            flex-direction: column;
            .info_block {
              width: 100%;
              padding: 20px;
              &:not(:last-child) {
                margin-bottom: 20px;
              }
            }
          }
        }
      }
      .calculator_section {
        .container {
          padding-bottom: 30px;
          .description {
            .title {
              font-size: 22px;
            }
            p {
              font-size: 12px;
              line-height: 18px;
            }
          }
          .calculator {
            padding: 20px;
            .head {
              .clear_btn_mobile {
                display: block;
              }
            }
            .inputs {
              flex-wrap: wrap;
              justify-content: space-between;
              align-items: flex-start;
              .item {
                width: 48%;
                max-width: 100%;
                &:not(:nth-last-child(-n + 2)) {
                  margin-bottom: 12px;
                }
              }
              .calculate_btn_mobile {
                display: flex;
              }
            }
            .foot {
              margin-top: 20px;
              .clear_btn {
                display: none;
              }
              .calculate {
                width: 100%;
                .price {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  margin: 0px;
                }
                .calculate_btn {
                  display: none;
                }
              }
            }
          }
        }
      }
      .how_us_work_section {
        .container {
          flex-direction: column;
          padding-bottom: 30px;
          .description_section {
            .title {
              font-size: 22px;
            }
            p {
              font-size: 12px;
              line-height: 18px;
            }
          }
          .item {
            width: 100%;
            min-height: 222px;
            &:not(:nth-last-child(-n + 2)) {
              margin-bottom: 0px;
            }
            &:not(:last-child) {
              margin-bottom: 20px;
            }
          }
          .left_side {
            justify-content: flex-start;
            padding-left: 150px;
            padding-right: 0px !important;
          }
          .answer_item {
            padding-right: 150px;
            .img {
              width: 180px;
              height: 180px;
            }
            .number {
              font-size: 50px;
            }
            .content {
              width: 100%;
              .title {
                font-size: 16px;
              }
              p {
                font-size: 12px;
              }
            }
          }
        }
      }
      .news_and_updates {
        .container {
          padding-bottom: 30px;
          .scrollable_block {
            .center {
              min-width: max-content;
              .item {
                width: 255px;
                margin-right: 20px;
                padding: 16px;
                .img {
                  height: 222px;
                }
                .content {
                  height: 102px;
                  .head_content {
                    .title_content {
                      font-size: 16px;
                      line-clamp: 3;
                      -webkit-line-clamp: 3;
                    }
                    p {
                      font-size: 12px;
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .partners_carousel_section {
        .container {
          padding-bottom: 30px;
          .owl-nav {
            display: none;
          }
        }
      }
      .youtube_videos_section {
        .container {
          padding-bottom: 30px;
          .head {
            flex-direction: column;
            .content_head {
              max-width: 100%;
              .title {
                font-size: 22px;
                margin-bottom: 7px;
              }
              p {
                font-size: 12px;
              }
            }
            .channel_link {
              margin-left: 0px;
              margin-top: 20px;
              font-size: 22px;
            }
          }
          .scrollable_block {
            .center {
              display: flex;
              align-items: center;
              min-width: max-content;
              .item {
                width: 294px !important;
                height: 237px !important;
                float: none !important;
                margin-bottom: 0px !important;
                margin-right: 16px;
                overflow: hidden;
                .top_overlay {
                  padding: 13px;
                  width: 100%;
                  .title {
                    font-size: 16px;
                    margin-bottom: 3px;
                    .orange_color {
                      font-size: 16px;
                    }
                  }
                  p {
                    font-size: 12px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    line-clamp: 2;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    line-height: 15px;
                  }
                }
                .overlay {
                  padding: 13px;
                  .content {
                    width: 100%;
                    .title {
                      font-size: 16px;
                    }
                    p {
                      font-size: 12px;
                    }
                  }
                  .date {
                    span {
                      font-size: 12px;
                    }
                  }
                }
                &:not(:first-child) {
                  .overlay {
                    .content {
                      .title {
                        font-size: 16px;
                      }
                      p {
                        font-size: 12px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .customer_ratings_section {
        .container {
          padding-bottom: 30px;
          border: none;
          .owl-nav {
            display: none;
          }
          .center {
            overflow-x: scroll;
            margin-right: -16px;
            padding-right: 15px;
            overflow-y: hidden;
            @include hideScrollBar();
            .owl-carousel {
              min-width: max-content;
              display: flex;
              align-items: center;
              justify-content: space-between;
              .item {
                width: 293px;
                margin-right: 16px;
              }
            }
          }
        }
      }
      .auth_block {
        margin: 35px 0px;
        .container {
          .small_form {
            width: 100%;
            padding: 25px 18px;
            .head {
              .title {
                font-size: 22px;
              }
              p {
                line-height: 20px;
              }
            }
            .forget_and_remember {
              margin: 40px 0px;
            }
            .auth_links {
              flex-direction: column-reverse;
              .btn_submit {
                width: 100%;
                height: 45px;
                margin-bottom: 30px;
              }
              a {
                font-family: $semiBold;
              }
            }
            .second_auth_links {
              flex-direction: column-reverse;
              margin-top: 60px;
              .links {
                @include flex-center(flex);
                flex-direction: column-reverse;
                a {
                  margin-top: 30px;
                }
              }
              .btn_submit {
                width: 100%;
              }
            }
          }
          .big_form {
            padding: 30px 16px;
            .input {
              width: 100%;
              select {
                background-position-x: 96%;
              }
            }
            .phone_input {
              width: 100%;
            }
            .input_with_info {
              width: 100%;
              .input_row {
                .input {
                  width: 75.6%;
                }
              }
              .info {
                .popover_content {
                  .register_info_imgs {
                    flex-direction: column;
                    img {
                      margin-right: 0px;
                      width: 250px;
                      margin-bottom: 15px;
                    }
                  }
                }
              }
            }
            .sales_contract {
              flex-direction: column;
              .login_register {
                flex-direction: column-reverse;
                margin-top: 30px;
                width: 100%;
                .register_btn {
                  width: 100%;
                  height: 45px;
                  margin-bottom: 30px;
                }
                .btn_login {
                  margin-right: 0px;
                }
              }
              .checkbox_label {
                font-style: 13px;
                flex-wrap: wrap;
                * {
                  font-style: 14px;
                }
              }
            }
          }
        }
      }
      .tariffs_section {
        .container {
          .title {
            font-style: 22px;
            margin-bottom: 10px;
          }
          .mobile_content {
            display: block;
            margin-bottom: 20px;
          }
          .mobile_items_title {
            display: flex;
          }
          .tariff_items {
            flex-direction: column;
            .item {
              min-height: auto;
              width: 100%;
              max-width: 768px;
              @include flex-between(flex);
              flex-direction: row-reverse;
              &:not(:last-child) {
                margin-bottom: 30px;
              }
              .item_row {
                flex-direction: column;
                .img_1,
                .img_2 {
                  margin-right: 0px;
                  margin-bottom: 20px;
                }
                .content {
                  @include flex-center(flex);
                  flex-direction: column;
                }
              }
              .center_line {
                img {
                  margin-left: 0px;
                }
              }
              &:first-child {
                .center_line {
                  img {
                    display: block;
                  }
                  span {
                    display: none;
                  }
                }
              }
            }
          }
          .foot_content {
            display: none;
          }
        }
      }
      .stores_section {
        .container {
          .select_box {
            display: block;
            .select_box_in {
              background-color: #fff;
              width: 100%;
              top: 62px;
            }
          }
          .stores_main {
            .stores_items {
              width: 100%;
              max-height: 100%;
              overflow: visible;
              justify-content: space-between;
              padding-right: 0px;
              .item {
                width: 48%;
                height: 20vw;
                &:not(:nth-child(4n + 4)) {
                  margin-right: 0px;
                }
                &:not(:nth-last-child(-n + 4)) {
                  margin-bottom: 0px;
                }
                &:not(:nth-last-child(-n + 2)) {
                  margin-bottom: 15px;
                }
              }
            }
            .stores_sidebar {
              display: none;
            }
          }
          .pagination {
            display: flex;
          }
        }
      }
      .services_section {
        .container {
          .title {
            font-size: 22px;
          }
          .services_items {
            flex-direction: column;
            margin-top: 0px;
            .item {
              width: 100%;
              flex-direction: column;
              align-items: center;
              .icn {
                margin: 0px;
              }
              .content {
                text-align: center;
                .title_item {
                  font-size: 16px;
                  margin-top: 20px;
                  margin-bottom: 10px;
                }
                p {
                  font-size: 12px;
                  font-family: $regular;
                }
              }
            }
          }
        }
      }
      .news_page_update {
        .container {
          padding-bottom: 30px;
          .pagination {
            margin: 30px auto 0px auto;
          }
          .scrollable_block {
            overflow: visible;
            .center {
              flex-direction: column;
              min-width: 100%;
              .item {
                width: 100%;
                margin-right: 0px;
                &:not(:last-child) {
                  margin-bottom: 20px;
                }
                .img {
                  height: 81vw;
                }
              }
            }
          }
        }
      }
      .news_page_youtube {
        .container {
          padding-bottom: 30px;
          .pagination {
            margin: 30px auto 0px auto;
          }
        }
      }
      .contact_page_section {
        .container {
          .main_tab_forms {
            background-color: #fff;
            padding: 15px 16px;

            .contact_main {
              padding: 0px;
              flex-direction: column;
              .contact_form {
                width: 100%;
              }
              .address_info {
                width: 100%;
                margin: 50px 0px;
              }
              .map {
                width: 100%;
              }
            }
            .contact_tab_nav {
              flex-wrap: wrap;
              .btn_tab {
                min-width: auto;
                border-radius: $siteRadius10;
                margin-bottom: 15px;
                opacity: 0.6;
                font-size: 12px;
                padding: 0px 12px;
                &:not(:last-child) {
                  margin-right: 15px;
                }
              }
              .active_tab {
                background-color: $siteColor;
                color: #fff;
                opacity: 1 !important;
              }
            }
          }
        }
      }
      .rules_page_section {
        .container {
          .rules_main {
            .rules {
              max-height: 100%;
              padding-right: 0px;
              @include hideScrollBar();
              .rule {
                .number {
                  font-size: 16px;
                }
                .text {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
      .questions_page_section {
        .container {
          .questions_main {
            .questions {
              max-height: 100%;
              padding-right: 0px;
              @include hideScrollBar();
            }
          }
        }
      }
      .notification_pages {
        .container {
          .notification_main {
            width: 100%;
            padding: 20px;
            margin: 30px auto;
            .title {
              max-width: 100%;
            }
            .text {
              max-width: 100%;
            }
            .go_back {
              font-size: 14px;
              height: 45px;
              margin-top: 60px;
            }
          }
        }
      }
      .order_page_section {
        .container {
          .order_form {
            .flexable_block {
              flex-direction: column;
              .left_column {
                width: 100%;
                .input {
                  width: 100%;
                }
                .total_price {
                  width: 100%;
                }
                .form_inputs_block {
                  padding: 20px 16px;
                  .product_link {
                    width: 100%;
                  }
                  .form_in {
                    .form_head {
                      .left {
                        .item_numb {
                          font-size: 11px;
                          width: 24px;
                          height: 24px;
                          margin-right: 6px;
                        }
                        .label {
                          font-size: 12px;
                        }
                      }
                      .right {
                        .btn_remove {
                          font-size: 11px;
                          img {
                            width: 22px;
                            height: 22px;
                            margin-right: 6px;
                          }
                        }
                      }
                    }
                  }
                }
              }
              .sidebar {
                width: 100%;
                margin-top: 30px;
                .title {
                  margin-bottom: 7px;
                }
                .product_price {
                  span {
                    font-size: 17px;
                  }
                }
                .sub_title {
                  margin-top: 15px;
                }
              }
            }
            .foot_form {
              flex-direction: column-reverse;
              margin-top: 30px;
              align-items: flex-start;
              padding-top: 18px;
              .buttons {
                margin-top: 21px;
                width: 100%;
                .btn {
                  width: 48%;
                  min-width: auto;
                  margin-right: 0px !important;
                }
              }
              .right {
                text-align: left;
                display: flex;
                flex-direction: column-reverse;
                .info {
                  margin-bottom: 0px;
                  margin-top: 15px;
                }
                .checkbox_label {
                  font-size: 14px;
                  padding-left: 30px;
                  padding-right: 0px;
                  .checkmark {
                    right: auto;
                    left: 0px;
                    top: -1;
                  }
                }
              }
            }
          }
        }
      }
      .two_column_page {
        flex-direction: column;
        .left_column {
          width: 100%;
          .title {
            font-size: 22px;
            margin-bottom: 5px;
          }
          .description {
            margin-bottom: 28px;
          }
          .info_rows {
            margin-bottom: 34px;
            .info_title {
              font-size: 18px;
            }
            .delivery {
              font-size: 16px;
            }
          }
        }
        .right_column {
          width: 100%;
          padding: 23px 16px;
          .element {
            height: 260px;
          }
        }
      }
      .news_in_section {
        .container {
          .news {
            flex-direction: column;
            .left_column {
              width: 100%;
              .img {
                margin-bottom: 15px;
                height: 49vw;
              }
              .img_bottom {
                flex-direction: column-reverse;
                align-items: flex-start;
                .date {
                  margin-bottom: 16px;
                }
                .share_news {
                  .social_icons {
                    width: 180px;
                    li {
                      .elem {
                        width: 30px;
                        height: 30px;
                      }
                    }
                  }
                }
              }
              .news_content {
                margin-top: 28px;
                .title {
                  margin-bottom: 20px;
                  font-size: 18px;
                }
              }
            }
            .right_column {
              width: 100%;
              margin-top: 50px;
              .title {
                color: $siteColor;
                margin-bottom: 16px;
                font-size: 18px;
              }
              .news_items {
                .item {
                  display: flex;
                  .img {
                    width: 40vw;
                    height: 40vw;
                    margin-right: 20px;
                  }
                  .content {
                    max-width: 50%;
                    .news_title {
                      margin-top: 5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      //cabinet style
      .main_cabinet_section {
        padding-bottom: 0px;
        border-bottom: none;
        .sidebar {
          display: none;
        }
        .content_main {
          width: 100%;
          .settings_main {
            .tab_navs {
              .btn_tab {
                padding: 0px 12px;
                min-width: auto;
              }
            }
            .inputs_settings {
              .input {
                &:not(:last-child) {
                  margin-bottom: 25px;
                }
              }
              .input_with_select {
                margin-bottom: 25px;
              }
              .input,
              .input_with_select,
              .phone_input {
                width: 100%;
                margin-right: 0px;
              }
            }
          }
          .address_cabinet_section {
            .addresses {
              justify-content: space-between;
              .address {
                width: 48%;
                margin-right: 0px;
                margin-bottom: 30px;
              }
              .adress_text {
                width: 100% !important;
              }
            }
          }
          .balance_main {
            padding: 15px;
            .link_navs {
              .balnce_nav_btn {
                padding: 0px 10px;
                min-width: auto;
                &:not(:last-child) {
                  margin-right: 5px;
                }
              }
            }
            .order_balance {
              margin-top: 30px;
              .title {
                font-size: 18px;
              }
              form {
                flex-wrap: wrap;
                .input {
                  width: 100%;
                  margin-right: 0px;
                }
                .btn_submit {
                  width: 100%;
                  margin-top: 20px;
                }
              }
            }
            .gift_card {
              .title {
                font-size: 16px;
              }
              .desc {
                font-size: 12px;
              }
              form {
                flex-wrap: wrap;
                .input {
                  width: 100%;
                  margin-right: 0px;
                }
                .btn_submit {
                  width: 100%;
                  margin-top: 20px;
                }
              }
            }
            .balance_archive_block {
              .table {
                padding-right: 5px;
              }
            }
          }
          .messages_block {
            padding: 16px;
            .head {
              flex-direction: column;
              align-items: flex-start;
              padding-bottom: 18px;
              .service_info {
                margin-bottom: 15px;
                .info {
                  span {
                    font-size: 14px;
                  }
                }
              }
              .customer_info {
                span {
                  font-size: 14px;
                  text-align: left;
                }
              }
            }
            .center {
              .messages {
                .scrolled_block {
                  .message {
                    max-width: 90%;
                  }
                }
              }
            }
            .foot {
              margin-top: 20px;
            }
          }
          .inner_block {
            padding: 18px !important;
          }
          .courier_order_block {
            .inputs {
              .input {
                width: 100%;
              }
              .order_coruier4 {
                width: 100%;
                margin-bottom: 20px;
                height: 45px;
              }
            }
            .box_table_block {
              .table {
                overflow: scroll;
                @include hideScrollBar();
                table {
                  width: max-content;
                }
              }
            }
            .box_title {
              font-family: $bold;
              font-size: 16px;
            }
            .total_prices {
              flex-direction: column;
              align-items: flex-start;
              .total_price {
                margin-top: 12px;
              }
            }
            .info {
              font-size: 12px;
            }
            .table_courier {
              display: none;
            }
            .table_courier_mobile {
              display: block;
            }
          }
          .declarations_main {
            .table_declaration {
              display: none;
            }
            .table_declaration_mobile {
              display: block;
              max-height: 100%;
            }
          }
          .foot_content {
            margin-top: 25px;
            flex-direction: column-reverse;
            .purple_btn {
              width: 100%;
              margin-bottom: 20px;
            }
            .black_btn {
              width: 100%;
            }
            .operations_select {
              display: none;
            }
            .order_coruier {
              width: 100%;
              margin-left: 0px;
              margin-bottom: 20px;
            }
            .pay_btn {
              margin-left: 0px;
              width: 100%;
              height: 40px;
            }
            .left {
              width: 100%;
            }
            .right {
              width: 100%;
              flex-direction: column-reverse;
            }
            .pagination {
              margin: 15px auto 0px auto !important;
              width: 100%;
              max-width: 300px;
            }
            .facture_btn {
              height: 40px;
              width: 100%;
              margin-left: 0px;
              margin-bottom: 15px;
            }
            .total_price {
              order: 1;
              width: 100%;
              margin-bottom: 15px;
              justify-content: space-between;
              .price {
                height: 40px;
                font-size: 16px;
                svg {
                  width: 14px;
                  height: 14px;
                }
              }
            }
          }
        }
      }
    }
    .main_footer {
      margin-top: 30px;
      .top_section {
        display: none;
      }
      .center_section {
        padding-top: 30px;
        border: none;

        .container {
          flex-direction: column;
          .mobile_foot_logo {
            display: block;
          }
          .mobile_top_section {
            display: flex;
          }
          .contact_us {
            width: 100%;
            .head {
              h3 {
                font-size: 22px;
              }
              p {
                font-size: 12px;
              }
            }
          }
          .links {
            margin: 30px 0px;
            padding: 0px;
            border: none;
            width: 100%;
            li {
              float: left;
              width: calc(100% / 2);
              &:not(:last-child) {
                margin-bottom: 28px;
              }
              a {
                font-size: 16px;
              }
            }
          }
          .adress {
            width: 100%;
            padding: 35px 25px;
            .a_block {
              span {
                font-family: $regular;
              }
              .title_adress {
                margin-bottom: 8px;
              }
              &:not(:last-child) {
                margin-bottom: 41px;
              }
            }
          }
          .mobile_apps_row {
            display: flex;
            a {
              height: 13vw;
              width: 100%;
              max-height: 70px;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
          .mobile_foot_info {
            display: flex;
          }
        }
      }
      .bottom_section {
        display: none;
      }
    }
    .auth_header {
      .container {
        margin-top: 30px;
        .logo {
          width: 105px;
        }
      }
    }
    .auth_footer {
      border: none;
      .container {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        .copyright {
          display: none;
        }
        .right {
          flex-wrap: wrap;
          align-items: flex-start;
          max-width: 100%;
          width: 100%;
          border-top: 1px solid #28214121;
          padding-top: 20px;
          span {
            width: 100%;
            margin-right: 0px;
            margin-bottom: 10px;
          }
          a {
            width: 49% !important;
            height: 13vw !important;
            margin-right: 0px !important;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .visa { 
            display: none;
          }
        }
        .bottom_sect_mobile {
          display: flex;
        }
      }
    }
  }
  /////before added 
  .title_mobile_pice_blocks{
    display: block;
  }
}

@media screen and (max-width: 360px) {
  body {
    .main_header {
      .cabinet_bottom_section {
        .right_column {
          .user_profile_info {
            .info:not(:last-child) {
              margin-bottom: 20px !important;
            }
          }
        }
      }
    }
    main {
      .calculator_section {
        .container {
          .calculator {
            .inputs {
              .item {
                width: 100%;
                &:not(:last-child) {
                  margin-bottom: 15px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
