* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/assets/img/background\ \(1\).png);
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .kargoNav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  border-bottom: 1px solid rgb(211, 211, 211);
}
nav .kargoNav .nav-underline {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
nav .kargoNav .nav-underline li {
  list-style: none;
}
nav .kargoNav .nav-underline li a {
  font-weight: 500;
  font-size: 15px;
  font-style: normal;
  color: rgb(0, 0, 0);
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  text-decoration: none;
}
nav .kargoNav .nav-underline li a:hover {
  cursor: pointer;
  color: #7b5ce1;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav {
  width: 84%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  border-bottom: 1px solid rgb(211, 211, 211);
}
header nav .navDiv {
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
header nav .navDiv .collapseDiv {
  width: 100%;
  align-items: center;
  justify-content: center;
}
header nav .navDiv .collapseDiv ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-right: 1px solid grey;
}
header nav .navDiv .collapseDiv ul li {
  list-style: none;
}
header nav .navDiv .collapseDiv ul li a {
  font-weight: 500;
  font-size: 15px;
  font-style: normal;
  color: rgb(0, 0, 0);
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  text-decoration: none;
}
header nav .navDiv .collapseDiv ul li a:hover {
  cursor: pointer;
  color: #7b5ce1;
}
header nav .navDiv .headButton {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .navDiv .headButton span {
  font-weight: 500;
  font-size: 15px;
  font-style: normal;
  color: rgb(0, 0, 0);
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
}
header nav .navDiv .headButton span:hover {
  color: #7b5ce1;
  cursor: pointer;
}
header nav .navDiv .headButton button {
  background-color: rgb(123, 92, 225);
  height: 52px;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  margin-left: 25px;
  font-size: 16px;
  border-radius: 10px;
  overflow: hidden;
  border: none;
}

@media screen and (max-width: 600px) {
  header nav .navDiv .headButton {
    width: 100%;
  }
}
#stores {
  padding: 3rem 7rem;
}
#stores .stores-title {
  margin-bottom: 1rem;
}
#stores .stores-title b {
  font-size: 35px;
}
#stores .stores-description {
  margin-bottom: 3rem;
}
#stores .stores-description p {
  font-size: 14px;
  color: #7b7b93;
}
#stores .location {
  gap: 1.5rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #f8f8f8;
}
#stores .location a {
  padding: 7px 20px;
  font-size: 17px;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}
#stores .location a:hover {
  background-color: #fef5e9;
  border-radius: 5px;
  color: #fd475d;
}
#stores .location a:focus {
  background-color: #fd475d;
  border-radius: 5px;
  color: white;
}
#stores .location .active {
  background-color: #fd475d;
  border-radius: 5px;
  color: white;
}
#stores .store-wrapper {
  gap: 1rem;
}
#stores .store-wrapper .store {
  margin-bottom: 2rem;
}
#stores .store-wrapper .store a {
  display: flex;
  justify-content: center;
  padding: 2.3rem 2rem;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  background-color: #fff;
}
#stores .store-wrapper .store a:hover {
  border: 1px solid #cecee2;
  scale: 105%;
}
#stores .store-wrapper .store img {
  width: 100%;
}

#intro {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#intro .news-title {
  min-height: 70px;
}
#intro .news-title b {
  font-size: 35px;
  text-align: center;
}
#intro .news-description {
  margin-bottom: 1rem;
}
#intro .news-description p {
  font-size: 14px;
  color: #7b7b93;
}
#intro .options-title {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 5.8rem;
  justify-content: space-between;
}
#intro .options-title .options {
  cursor: pointer;
  color: #7C7C7C;
  font-size: 14px;
  border: 1px solid #c2c1c1 !important;
  border-radius: 5px;
}
#intro .options-title .options .option-button {
  font-size: 14px;
  color: #7C7C7C;
}
#intro .options-title .input-title {
  border: 1px solid #c2c1c1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  min-height: 35px;
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#intro .options-title .input-title input {
  outline: none;
  border: none;
  width: 120px;
  color: #7C7C7C;
  font-size: 14px;
  background-color: transparent;
}
#intro .options-title .input-title input::placeholder {
  font-size: 14px;
  color: #7C7C7C;
}
#intro .options-title .input-title button {
  border: none;
  background-color: transparent;
  width: 30px;
}
#intro .options-title .input-title button i {
  color: #7C7C7C;
}
#intro #best_seller {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 600px;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#intro #best_seller .myDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 32%;
}
#intro #best_seller .myDiv a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
}
#intro #best_seller .myDiv a img {
  width: 65%;
}
#intro #best_seller .myDiv a .theMarka {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
}
#intro #best_seller .myDiv a .theMarka h4 {
  text-decoration: none;
  font-size: 13px;
  display: flex;
  color: #333333;
  font-family: source_sans_proregular, sans-serif;
  font-weight: 700;
}
#intro #best_seller .myDiv a .theMarka p {
  width: 37%;
  font-family: source_sans_proregular, sans-serif;
  align-items: center;
  display: flex;
  margin-top: 7px;
  color: #333333;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
}
#intro #best_seller .myDiv a .lowerPrice {
  color: #bb0000;
  font-size: 12px;
  font-family: source_sans_proregular, sans-serif;
  font-weight: 600;
  width: 65%;
}
#intro #best_seller .myDiv a p {
  color: #bb0000;
  width: 65%;
  font-size: 14px;
  font-family: source_sans_proregular, sans-serif;
  font-weight: 600;
}
#intro .see-more {
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#intro .see-more button {
  border: none;
  width: 11%;
  min-height: 46px;
  background-color: #fff;
  border-radius: 7px;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid black;
  transition: 0.4s ease;
}

@media screen and (max-width: 1200px) {
  #intro .container .row .news-title b {
    font-size: 23px;
  }
  #intro .container .row .news-description b {
    font-size: 10px;
  }
  #intro .container .row #best_seller {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  #intro .container .row #best_seller .myDiv {
    width: 48%;
  }
}
@media screen and (max-width: 769px) {
  #intro .container .row .news-title b {
    font-size: 22px;
  }
  #intro .container .row .news-description p {
    font-size: 12px;
  }
  #intro .container .row .options-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  #intro .container .row #best_seller {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  #intro .container .row #best_seller .myDiv {
    width: 100%;
  }
  #intro .container .row #best_seller .myDiv img {
    width: 50%;
  }
  #intro .container .row #best_seller .myDiv .theMarka {
    width: 50%;
  }
  #intro .container .row #best_seller .myDiv .theMarka h4 {
    font-size: 10px;
  }
  #intro .container .row #best_seller .myDiv p {
    width: 50%;
    font-size: 12px;
  }
}
@media screen and (max-width: 415px) {
  #intro .container .row .news-title b {
    font-size: 19px;
  }
  #intro .container .row .news-description p {
    font-size: 10px;
  }
  #intro .container .row .options-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #intro .container .row #best_seller {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  #intro .container .row #best_seller .myDiv {
    width: 100%;
  }
  #intro .container .row #best_seller .myDiv img {
    width: 50%;
  }
  #intro .container .row #best_seller .myDiv .theMarka {
    width: 50%;
    font-size: 7px;
  }
  #intro .container .row #best_seller .myDiv .theMarka h4 {
    font-size: 7px;
  }
  #intro .container .row #best_seller .myDiv p {
    width: 50%;
    font-size: 7px;
  }
}
#iconsMedia {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}
#iconsMedia .iconsMediaText {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
#iconsMedia .iconsMediaText span {
  font-weight: 600;
  font-size: 15px;
  font-style: normal;
  color: rgb(40, 33, 65);
  line-height: 20px;
  text-decoration: none;
  transform: none;
  padding-top: 8px;
  font-family: Nunito-Regular;
  letter-spacing: 0;
}
#iconsMedia .iconsMediaText span:hover {
  color: #7b5ce1;
  cursor: pointer;
}
#iconsMedia .iconsMediaText a {
  text-decoration: none;
  width: 36px;
  height: 36px;
  border: 1px solid rgba(123, 92, 225, 0.1450980392);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  overflow: hidden;
}
#iconsMedia .iconsMediaText a:hover {
  cursor: pointer;
  background-color: #7b5ce1;
}
#iconsMedia .iconsMediaText a i {
  color: #000;
}
#iconsMedia .iconsMediaText a i:hover {
  color: white;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #7b5ce1;
  min-height: 600px;
  border-bottom: 1px solid rgb(211, 211, 211);
}
footer .footerList {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px;
}
footer .footerList h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
footer .footerList a {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
footer .footerList .footerListBorder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(211, 211, 211);
  padding: 20px;
  border-radius: 20px;
}
footer .footerList .footerListBorder h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
footer .footerList .footerListBorder p {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
footer .footerList .footerText {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
footer .footerList .footerText h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
footer .footerList input {
  border: 0.5px solid #ffffff;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  padding: 0px 20px;
  background-color: transparent;
}
footer .footerList .footerForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
footer .footerList .footerForm input {
  border: 0.5px solid #ffffff;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  padding: 0px 20px;
  background-color: transparent;
}
footer .footerList button {
  background-color: #ff6d67;
  min-width: 187px;
  border-radius: 10px;
  overflow: hidden;
  padding: 0px 20px;
  color: #fff;
  height: 50px;
  border: none;
}
footer .end {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  min-height: 70px;
  border-top: 1px solid rgb(211, 211, 211);
}
footer .end span {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}