* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/assets/img/background\ \(1\).png);
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .kargoNav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    border-bottom: 1px solid rgb(211, 211, 211);
    .nav-underline {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      li {
        list-style: none;
        a {
          font-weight: 500;
          font-size: 15px;
          font-style: normal;
          color: rgb(0, 0, 0);
          line-height: normal;
          text-transform: none;
          letter-spacing: 0px;
          text-decoration: none;
          &:hover {
            cursor: pointer;
            border-bottom-color: #7b5ce1;
          }
        }
      }
    }
  }
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  nav {
    width: 84%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;

    border-bottom: 1px solid rgb(211, 211, 211);
    .navDiv {
      width: 100%;

      align-items: center;
      justify-content: center;

      gap: 20px;
      .collapseDiv {
        width: 100%;
        align-items: center;
        justify-content: center;

        ul {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 30px;
          border-right: 1px solid grey;

          li {
            list-style: none;
            a {
              font-weight: 500;
              font-size: 15px;
              font-style: normal;
              color: rgb(0, 0, 0);
              line-height: normal;
              text-transform: none;
              letter-spacing: 0px;

              &:hover {
                cursor: pointer;
                color: #7b5ce1;
              }
            }
          }
        }
      }
      .headButton {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          font-weight: 500;
          font-size: 15px;
          font-style: normal;
          color: rgb(0, 0, 0);
          line-height: normal;
          text-transform: none;

          letter-spacing: 0px;
          &:hover {
            color: #7b5ce1;
            cursor: pointer;
          }
        }
        button {
          background-color: rgb(123, 92, 225);
          height: 52px;
          min-width: 150px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: rgb(255, 255, 255);
          margin-left: 25px;
          font-size: 16px;
          border-radius: 10px;
          overflow: hidden;
          border: none;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  header {
    nav {
      .navDiv {
        .headButton {
          width: 100%;
        }
      }
    }
  }
}

#caruselMain {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(211, 211, 211);
  #myCarousel .carousel-item .mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    padding-top: 5rem;
    // background-color: red;

    h4 {
      font-size: 45px;
      // margin-bottom:15px;
      color: #7b5ce1;
      line-height: 45px;
      letter-spacing: 0.5px;
      font-weight: 700;
      font-family: Nunito-ExtraBold;
      margin-left: 1rem;
      width: 80%;
      span {
        color: #ff6d67;
      }
    }
    p {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 15px;
      font-family: Nunito-ExtraBold;
      color: #74717c;
      margin-left: 1rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      width: 70%;
    }
    button {
      margin-left: 1rem;
      justify-content: center;
      width: 151px;
      height: 52px;
      border-radius: 10px;
      background-color: #ff6d67;
      font-size: 16px;
      border: none;
      text-align: center;
      color: #fff;
      align-items: center;
      &:hover {
        cursor: pointer;
        background-color: #ff7974;
      }
    }
  }
}

#caruselMain {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(211, 211, 211);
  #myCarousel .carousel-item .mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    padding-top: 5rem;
    // background-color: red;

    h4 {
      font-size: 45px;
      // margin-bottom:15px;
      color: #7b5ce1;
      line-height: 45px;
      letter-spacing: 0.5px;
      font-weight: 700;
      font-family: Nunito-ExtraBold;
      margin-left: 1rem;
      width: 80%;
      span {
        color: #ff6d67;
      }
    }
    p {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 15px;
      font-family: Nunito-ExtraBold;
      color: #74717c;
      margin-left: 1rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      width: 70%;
    }
    button {
      margin-left: 1rem;
      justify-content: center;
      width: 151px;
      height: 52px;
      border-radius: 10px;
      background-color: #ff6d67;
      font-size: 16px;
      border: none;
      text-align: center;
      color: #fff;
      align-items: center;
      &:hover {
        cursor: pointer;
        background-color: #ff7974;
      }
    }
  }
}

// #myCarousel .carousel-item a{background:#F47735; font-size:14px; color:#FFF; padding:13px 32px; display:inline-block; }
// #myCarousel .carousel-item a:hover{background:#394fa2; text-decoration:none;  }

#myCarousel .carousel-item h4 {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
#myCarousel .carousel-item p {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
#myCarousel .carousel-item a {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
#myCarousel .carousel-item .mask img {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  display: block;
  height: auto;
  max-width: 100%;
}
#myCarousel h4,
#myCarousel p,
#myCarousel a,
#myCarousel button,
#myCarousel .carousel-item .mask img {
  -webkit-animation-duration: 1s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
#myCarousel .container {
  max-width: 1430px;
}
#myCarousel .carousel-item {
  height: 100%;
  min-height: 550px;
}
#myCarousel {
  position: relative;
  z-index: 1;
  background-color: transparent center center no-repeat;
  background-size: cover;
}

.carousel-control-next,
.carousel-control-prev {
  height: 40px;
  width: 40px;
  padding: 12px;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  background-color: transparent;
}

.carousel-item {
  position: relative;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.carousel-fade .carousel-item {
  opacity: 0;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right,
.carousel-fade .carousel-item.active {
  opacity: 1;
}
.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-right.active {
  opacity: 0;
}
.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-prev.active,
.carousel-fade .carousel-item.active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
@supports (transform-style: preserve-3d) {
  .carousel-fade .carousel-item-left.active,
  .carousel-fade .carousel-item-next,
  .carousel-fade .carousel-item-prev,
  .carousel-fade .carousel-item-prev.active,
  .carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-prev.active,
.carousel-fade .carousel-item.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

#servicesMain {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(211, 211, 211);
  min-height: 900px;
  .services {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    min-height: 400px;
    background-color: #f8f7fe;
    border-radius: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    transition: 0.4s;

    &:hover {
      filter: drop-shadow(0px 0px 9px #2c2c2c47);
    }
    .servicesText {
      width: 100%;
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;
      h1 {
        font-weight: 700;
        font-size: 20px;
        font-style: normal;
        color: rgb(40, 33, 65);
        line-height: normal;
        text-decoration: none;
        transform: none;
        font-family: Nunito-ExtraBold;
        letter-spacing: 0;
      }
      p {
        font-weight: 400;
        font-size: 14px;
        font-style: normal;
        color: rgb(40, 33, 65);
        line-height: 22px;
        text-decoration: none;
        transform: none;
        font-family: Nunito-ExtraBold;
        letter-spacing: 0;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 52px;
        background-color: #ff6d67;
        color: #fff;
        border-radius: 10px;
        margin-top: 30px;
        border: none;
      }
    }
    .servicesİmg {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      img {
        width: 60%;
      }
    }
  }
}



#smart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(211, 211, 211);
  .smartCustoms {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 300px;
    .smartTexts {
      width: 100%;
      display: flex;
      align-items: start;
      justify-content: flex-start;
      flex-direction: column;
      h2 {
        font-weight: 700;
        size: 25px;
        font-style: normal;
        color: rgb(123, 92, 225);
        line-height: normal;
        text-decoration: none;
        transform: none;
        font-family: Nunito-ExtraBold;
        letter-spacing: 0;
      }
      h1 {
        font-weight: 700;
        size: 25px;
        font-style: normal;
        color: rgb(255, 109, 103);
        line-height: normal;
        text-decoration: none;
        transform: none;
        font-family: Nunito-ExtraBold;
        letter-spacing: 0;
      }
      p {
        font-weight: 400;
        font-size: 14px;
        font-style: normal;
        color: rgb(40, 33, 65);
        line-height: normal;
        text-decoration: none;
        transform: none;
        font-family: Nunito-Regular;
        letter-spacing: 0;
        width: 85%;
      }
    }
    .smartText {
      width: 100%;
      display: flex;
      align-items: end;
      justify-content: flex-end;
      flex-direction: column;
      h1 {
        font-weight: 700;
        size: 25px;
        font-style: normal;
        color: rgb(255, 109, 103);
        line-height: normal;
        text-decoration: none;
        transform: none;
        font-family: Nunito-ExtraBold;
        letter-spacing: 0;
      }
      p {
        font-weight: 400;
        font-size: 14px;
        font-style: normal;
        color: rgb(40, 33, 65);
        line-height: normal;
        text-decoration: none;
        transform: none;
        font-family: Nunito-Regular;
        letter-spacing: 0;
      }
    }
    .smartCustomText {
      img {
        width: 100%;
      }
    }
  }
}
#delivery {
  border-bottom: 1px solid rgb(211, 211, 211);

  padding: 3rem 1rem;
  .deli-title {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2rem;
    align-items: center;
    border: 2px solid red;
    border-radius: 50px;
    b {
      font-size: 30px;
    }
  }
  .location {
    margin-bottom: 2rem;
    gap: 1.5rem;
    a {
      padding: 7px 20px;
      font-size: 20px;
      font-weight: 500;
      border-radius: 5px;
      transition: 0.2s ease-in-out;
      text-decoration: none;
      color: black;

      &:hover {
        box-shadow: 0 10px 10px -2px #9d87e7;
      }
    }
    .active {
      border-radius: 5px;
      color: rgb(0, 0, 0);
    }
  }
  .methods {
    gap: 2rem;
    margin-bottom: 3rem;
    a {
      font-size: 18px;
    }
    .focus {
      border-bottom: 3px solid #fd475d;
      color: black;
    }
  }
  .rate-wrapper {
    .row {
      gap: 2rem;
    }
    .rate {
      padding: 1.5rem;
      border-radius: 10px;
      flex-direction: column;
      background-color: #f8f7fe;
      gap: 1rem;
      transition: 0.4s;
      filter: drop-shadow(0px 0px 9px #2c2c2c47);
      &:hover {
        scale: 103%;
      }
      .condition {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        b {
          color: rgb(0, 0, 0);
        }
        .icon {
          display: flex;
          padding: 0.8rem;
          border-radius: 50%;
          background-color: #f4f4f6;
        }
      }
      .detail {
        .normal {
          .title {
            font-size: 15px;
            color: #000000;
            margin-bottom: 1rem;
            padding-right: 10px;
            font-weight: 500;
          }
          .price {
            font-size: 14px;
            font-weight: 500;
            color: #ff5151;
            &::after {
              content: "USD";
            }
          }
        }
        .liquid {
          .title {
            font-size: 15px;
            color: #000000;
            margin-bottom: 1rem;
            padding-right: 10px;
            font-weight: 500;
          }
          .price {
            font-size: 14px;
            font-weight: 500;
            color: #ff5151;
            &::after {
              content: "USD";
            }
          }
        }
      }
    }
  }
}

#calculator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-bottom: 1px solid rgb(211, 211, 211);

  .calculatorMain {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    min-height: 700px;

    h1 {
      font-weight: 700;
      size: 25px;
      font-style: normal;
      color: #ff6d67;
      line-height: normal;
      text-decoration: none;
      transform: none;
      font-family: Nunito-ExtraBold;
      letter-spacing: 0;
      width: 70%;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      font-style: normal;
      color: rgb(40, 33, 65);
      line-height: 22px;
      text-decoration: none;
      transform: none;
      font-family: Nunito-ExtraBold;
      letter-spacing: 0;
      width: 70%;
    }

    .calculator-container {
      max-width: 400px;
      padding: 20px;
      background-color: transparent;
      border-radius: 50px;
      box-shadow: 5px 5px 5px 5px #9d87e7;

      form {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        label {
          width: calc(50% - 5px);
          margin-top: 10px;
        }

        input[type="number"] {
          width: calc(50% - 5px);
          margin-top: 5px;
          border-radius: 10px;
          border: none;
          border: 1px solid rgb(194, 194, 194);
          background-color: transparent;
        }

        select {
          width: 100%;
          margin-top: 5px;
          border-radius: 10px;
          border: none;
          border: 1px solid rgb(194, 194, 194);
          background-color: transparent;
        }
      }
    }

    button {
      cursor: pointer;
      background-color: #ff6d67;
      color: #fff;
      border: none;
      border-radius: 4px;
      margin-top: 10px;
      width: 100px;
      padding: 5px 10px;
    }

    #result {
      margin-top: 20px;
      font-weight: bold;
    }
  }
}

#new {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 750px;
  border-bottom: 1px solid rgb(211, 211, 211);
  .newSec {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    min-height: 100px;
    h1 {
      font-weight: 700;
      font-size: 30px;
      font-style: normal;
      color: rgb(123, 92, 225);
      line-height: normal;
      text-decoration: none;
      transform: none;
      font-family: Nunito-SemiBold;
      letter-spacing: 0;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      font-style: normal;
      color: rgb(40, 33, 65);
      line-height: normal;
      text-decoration: none;
      transform: none;
      font-family: Nunito-SemiBold;
      letter-spacing: 0;
    }
  }
  .newSection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 0.5px solid #7b5ce17e;
    border-radius: 10px;
    gap: 10px;
    padding: 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    &:hover {
      background-color: #fff;
    }
    img {
      width: 100%;
      border-radius: 20px;
      cursor: pointer;
    }
    a {
      text-decoration: none;
      h1 {
        font-weight: 700;
        font-size: 20px;
        font-style: normal;
        color: rgb(255, 109, 103);
        line-height: normal;
        text-decoration: none;
        transform: none;
        font-family: Nunito-ExtraBold;
        letter-spacing: 0;
      }
    }
    p {
      font-weight: 400;
      font-size: 14px;
      font-style: normal;
      color: rgb(40, 33, 65);
      line-height: 20px;
      text-decoration: none;
      transform: none;
      font-family: Nunito-Regular;
      letter-spacing: 0;
    }
    .baharText {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        font-weight: 400;
        font-size: 14px;
        font-style: normal;
        color: rgb(123, 92, 225);
        line-height: normal;
        text-decoration: none;
        transform: none;
        font-family: Nunito-SemiBold;
        letter-spacing: 0;
      }
      span {
        font-weight: 400;
        font-size: 14px;
        font-style: normal;
        color: rgb(123, 92, 225);
        line-height: normal;
        text-decoration: none;
        transform: none;
        font-family: Nunito-SemiBold;
        letter-spacing: 0;
      }
    }
  }
}

#markaSlider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 180px;
  border-bottom: 1px solid rgb(211, 211, 211);
  .markaSliderSec {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#youtubeSec {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  border-bottom: 1px solid rgb(211, 211, 211);
  .youtubeLink {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    img {
      width: 100%;
      border-radius: 20px;
      cursor: pointer;
      transition: transform 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

#iconsMedia {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  .iconsMediaText {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    span {
      font-weight: 600;
      font-size: 15px;
      font-style: normal;
      color: rgb(40, 33, 65);
      line-height: 20px;
      text-decoration: none;
      transform: none;
      padding-top: 8px;
      font-family: Nunito-Regular;
      letter-spacing: 0;
      &:hover {
        color: #7b5ce1;
        cursor: pointer;
      }
    }
    a {
      text-decoration: none;
      width: 36px;
      height: 36px;
      border: 1px solid #7b5ce125;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      overflow: hidden;
      &:hover {
        cursor: pointer;
        background-color: #7b5ce1;
      }
      i {
        color: #000;
        &:hover {
          color: white;
        }
      }
    }
  }
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #7b5ce1;
  min-height: 600px;
  border-bottom: 1px solid rgb(211, 211, 211);
  .footerList {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0px;

    h1 {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
    }
    a {
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      text-decoration: none;
    }
    .footerListBorder {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: 1px solid rgb(211, 211, 211);
      padding: 20px;
      border-radius: 20px;
      h1 {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
      }
      p {
        color: #fff;
        font-size: 14px;
        font-weight: 600;
      }
    }

    .footerText {
      width: 100%;
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;
      h1 {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
      }
    }
    input {
      border: 0.5px solid #ffffff;
      border-radius: 10px;
      height: 50px;
      width: 100%;
      padding: 0px 20px;
      background-color: transparent;
    }
    .footerForm {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      input {
        border: 0.5px solid #ffffff;
        border-radius: 10px;
        height: 50px;
        width: 100%;
        padding: 0px 20px;
        background-color: transparent;
      }
    }
    button {
      background-color: #ff6d67;
      min-width: 187px;
      border-radius: 10px;
      overflow: hidden;
      padding: 0px 20px;
      color: #fff;
      height: 50px;
      border: none;
    }
  }
  .end {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    min-height: 70px;
    border-top: 1px solid rgb(211, 211, 211);
    span {
      color: #fff;
      font-size: 14px;
      font-weight: 600;
    }
  }
}
